<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.framework.system.mapper.IpMapper">

    <select id="getByIp" resultType="io.geekidea.springbootplus.framework.system.entity.Ip">
        select area,operator from ip
        where INET_ATON(#{ip}) > ip_start_num
          and INET_ATON(#{ip}) <![CDATA[ < ]]> ip_end_num;
    </select>

</mapper>
