<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.demo.mapper.DataRangeAppTestMapper">

    <select id="getDataRangeAppTestById" resultType="io.geekidea.boot.demo.vo.DataRangeAppTestVo">
        select *
        from data_range_app_test
        where id = #{id}
    </select>

    <select id="getDataRangeAppTestPage" parameterType="io.geekidea.boot.demo.query.DataRangeAppTestQuery"
            resultType="io.geekidea.boot.demo.vo.DataRangeAppTestVo">
        select *
        from data_range_app_test
    </select>

    <select id="getAppDataRangeAppTestById" resultType="io.geekidea.boot.demo.vo.DataRangeAppTestAppVo">
        select *
        from data_range_app_test
        where id = #{id}
    </select>

    <select id="getAppDataRangeAppTestPage" parameterType="io.geekidea.boot.demo.query.DataRangeAppTestAppQuery"
            resultType="io.geekidea.boot.demo.vo.DataRangeAppTestAppVo">
        select d.*
        from data_range_app_test d
                 inner join user u
        where d.user_id = u.id
    </select>

</mapper>
