<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.demo.mapper.FooBarMapper">

    <select id="getFooBarById" resultType="io.geekidea.boot.demo.vo.FooBarVo">
        select *
        from foo_bar
        where id = #{id}
    </select>

    <select id="getFooBarPage" parameterType="io.geekidea.boot.demo.query.FooBarQuery"
            resultType="io.geekidea.boot.demo.vo.FooBarVo">
        select *
        from foo_bar
    </select>

    <select id="getAppFooBarById" resultType="io.geekidea.boot.demo.vo.FooBarAppVo">
        select *
        from foo_bar
        where id = #{id}
    </select>

    <select id="getAppFooBarPage" parameterType="io.geekidea.boot.demo.query.FooBarAppQuery"
            resultType="io.geekidea.boot.demo.vo.FooBarAppVo">
        select *
        from foo_bar
    </select>

</mapper>
