<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.system.mapper.SysDeptMapper">

    <select id="getSysDeptById" resultType="io.geekidea.boot.system.vo.SysDeptInfoVo">
        select *
        from sys_dept
        where id = #{id}
    </select>

    <select id="getSysDeptTreeList" parameterType="io.geekidea.boot.system.query.SysDeptQuery"
            resultType="io.geekidea.boot.system.vo.SysDeptTreeVo">
        select *
        from sys_dept
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by sort
    </select>

</mapper>
