<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.system.mapper.SysDepartmentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, state, sort, remark, create_time, update_time
    </sql>

    <select id="getSysDepartmentById" resultType="io.geekidea.springbootplus.system.vo.SysDepartmentQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_department where id = #{id}
    </select>

    <select id="getSysDepartmentPageList" resultType="io.geekidea.springbootplus.system.vo.SysDepartmentQueryVo">
        select
        <include refid="Base_Column_List"/>
        from sys_department
    </select>

</mapper>
