<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.system.mapper.SysUserMapper">

    <select id="getSysUserById" resultType="io.geekidea.boot.system.vo.SysUserInfoVo">
        select distinct u.*,
                        d.name deptName
        from sys_user u
                 left join sys_dept d
                           on u.dept_id = d.id
        where u.id = #{id}
    </select>

    <select id="getSysUserList" parameterType="io.geekidea.boot.system.query.SysUserQuery"
            resultType="io.geekidea.boot.system.vo.SysUserVo">
        select distinct u.*,d.name deptName,
        (select group_concat(r.name)
        from sys_role r
        inner join sys_user_role ur
        on r.id = ur.role_id
        where ur.user_id = u.id
        order by r.id) roleName
        from sys_user u
        inner join sys_user_role ur
        on u.id = ur.user_id
        inner join sys_role r
        on ur.role_id = r.id
        left join sys_dept d
        on u.dept_id = d.id
        <where>
            <if test="username != null and username != ''">
                u.username like concat('%',#{username},'%')
            </if>
            <if test="nickname != null and nickname != ''">
                and u.nickname like concat('%',#{nickname},'%')
            </if>
            <if test="roleId != null">
                and r.id = #{roleId}
            </if>
            <if test="deptId != null">
                and d.id = #{deptId}
            </if>
            <if test="phone != null and phone != ''">
                and u.phone like concat('%',#{phone},'%')
            </if>
            <if test="status != null">
                and u.status = #{status}
            </if>
            <if test="createStartTime != null">
                and date(u.create_time) >= date(#{createStartTime})
            </if>
            <if test="createEndTime != null">
                and date(u.create_time) &lt;= date(#{createEndTime})
            </if>
        </where>
    </select>

    <select id="getLoginVoByUsername" resultType="io.geekidea.boot.auth.vo.LoginUserVo">
        select u.id as userId,
               u.username,
               u.nickname,
               u.password,
               u.salt,
               u.status
        from sys_user u
        where u.username = #{username}
    </select>

</mapper>
