<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.springbootplus.foobar.mapper.FooBarMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, foo, bar, remark, state, version, create_time, update_time
    </sql>

    <select id="getFooBarById" resultType="io.geekidea.springbootplus.foobar.vo.FooBarQueryVo">
        select
        <include refid="Base_Column_List"/>
        from foo_bar where id = #{id}
    </select>

    <select id="getFooBarPageList" resultType="io.geekidea.springbootplus.foobar.vo.FooBarQueryVo">
        select
        <include refid="Base_Column_List"/>
        from foo_bar
        where id > #{param.lastRowLimitValue}
    </select>

</mapper>
