package $!{package.Controller};

#if($!{cfg.generatorType} == 'BASIC')
import $!{package.Service}.$!{table.serviceName};
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
#elseif($!{cfg.generatorType} == 'FULL')
import $!{cfg.paging};
import $!{cfg.apiResult};
import $!{cfg.appQueryPath};
import $!{package.Service}.$!{table.serviceName};
import $!{cfg.appVoPath};
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;
#end

/**
 * $!{cfg.appTableComment} 控制器
 *
 * @author $!{author}
 * @since $!{date}
 */
@Slf4j
@RestController
@Tag(name = "$!{cfg.appTableComment}")
@RequestMapping("$!{cfg.appMapping}/$!{cfg.controllerRequestMapping}")
public class $!{cfg.appControllerName} {

    @Autowired
    private $!{table.serviceName} $!{cfg.serviceObjectName};

#if($!{cfg.generatorType} == 'FULL')
    /**
     * 获取$!{cfg.appTableComment}详情
     *
     * @param $!{cfg.pkIdName}
     * @return
     * @throws Exception
     */
    @PostMapping("/$!{cfg.apiInfoRequestMapping}/{$!{cfg.pkIdName}}")
    @Operation(summary = "$!{cfg.appTableComment}详情")
    public ApiResult<$!{cfg.appVoName}> get$!{cfg.appEntityName}(@PathVariable Long $!{cfg.pkIdName}) throws Exception {
        $!{cfg.appVoName} $!{cfg.appVoObjectName} = $!{cfg.serviceObjectName}.get$!{cfg.appEntityName}ById($!{cfg.pkIdName});
        return ApiResult.success($!{cfg.appVoObjectName});
    }

    /**
     * $!{cfg.appTableComment}分页列表
     *
     * @param query
     * @return
     * @throws Exception
     */
    @PostMapping("/$!{cfg.apiPageRequestMapping}")
    @Operation(summary = "$!{cfg.appTableComment}分页列表")
    public ApiResult<$!{cfg.appVoName}> get$!{cfg.appEntityName}Page(@Valid @RequestBody $!{cfg.appQueryName} query) throws Exception {
        Paging<$!{cfg.appVoName}> paging = $!{cfg.serviceObjectName}.get$!{cfg.appEntityName}Page(query);
        return ApiResult.success(paging);
    }

#end
}
