package $!{cfg.queryPackagePath};

import $!{cfg.superQueryPath};
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
#if($!{chainModel});
import lombok.experimental.Accessors;
#end

/**
 * $!{cfg.appTableComment}查询参数
 *
 * @author $!{author}
 * @since $!{date}
 */
@Data
@Schema(description = "$!{cfg.appTableComment}查询参数")
#if($!{entitySerialVersionUID})
public class $!{cfg.appQueryName} extends BasePageQuery {
#else
public class $!{cfg.appQueryName} {
#end
#if($!{entitySerialVersionUID})
    private static final long serialVersionUID = 1L;
#end

}

