package $!{package.Controller};

#if($!{cfg.generatorType} == 'BASIC')
import $!{package.Service}.$!{table.serviceName};
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
#elseif($!{cfg.generatorType} == 'FULL')
import $!{cfg.sysLogTypePackagePath};
import $!{cfg.logPackagePath};
import $!{cfg.permissionPath};
import $!{cfg.paging};
import $!{cfg.apiResult};
import $!{cfg.dtoPath};
import $!{cfg.queryPath};
import $!{package.Service}.$!{table.serviceName};
import $!{cfg.voPath};
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;
#end

/**
 * $!{table.comment} 控制器
 *
 * @author $!{author}
 * @since $!{date}
 */
@Slf4j
@RestController
@Tag(name = "$!{table.comment}")
@RequestMapping("$!{cfg.adminMapping}/$!{cfg.controllerRequestMapping}")
public class $!{table.controllerName} {

    @Autowired
    private $!{table.serviceName} $!{cfg.serviceObjectName};

#if($!{cfg.generatorType} == 'FULL')
    /**
     * 添加$!{table.comment}
     *
     * @param $!{cfg.dtoObjectName}
     * @return
     * @throws Exception
     */
    #if($!{cfg.sysLog})
    @Log(value = "添加$!{table.comment}", type = SysLogType.ADD)
    #end
    @PostMapping("/$!{cfg.addRequestMapping}")
    @Operation(summary = "添加$!{table.comment}")
    #if($!{cfg.permission})
    @Permission("$!{cfg.colonTableName}:add")
    #end
    public ApiResult add$!{entity}(@Valid @RequestBody $!{cfg.dtoName} $!{cfg.dtoObjectName}) throws Exception {
        boolean flag = $!{cfg.serviceObjectName}.add$!{entity}($!{cfg.dtoObjectName});
        return ApiResult.result(flag);
    }

    /**
     * 修改$!{table.comment}
     *
     * @param $!{cfg.dtoObjectName}
     * @return
     * @throws Exception
     */
    #if($!{cfg.sysLog})
    @Log(value = "修改$!{table.comment}", type = SysLogType.UPDATE)
    #end
    @PostMapping("/$!{cfg.updateRequestMapping}")
    @Operation(summary = "修改$!{table.comment}")
    #if($!{cfg.permission})
    @Permission("$!{cfg.colonTableName}:update")
    #end
    public ApiResult update$!{entity}(@Valid @RequestBody $!{cfg.dtoName} $!{cfg.dtoObjectName}) throws Exception {
        boolean flag = $!{cfg.serviceObjectName}.update$!{entity}($!{cfg.dtoObjectName});
        return ApiResult.result(flag);
    }

    /**
     * 删除$!{table.comment}
     *
     * @param $!{cfg.pkIdName}
     * @return
     * @throws Exception
     */
    #if($!{cfg.sysLog})
    @Log(value = "删除$!{table.comment}", type = SysLogType.DELETE)
    #end
    @PostMapping("/$!{cfg.deleteRequestMapping}/{$!{cfg.pkIdName}}")
    @Operation(summary = "删除$!{table.comment}")
    #if($!{cfg.permission})
    @Permission("$!{cfg.colonTableName}:delete")
    #end
    public ApiResult delete$!{entity}(@PathVariable Long $!{cfg.pkIdName}) throws Exception {
        boolean flag = $!{cfg.serviceObjectName}.delete$!{entity}($!{cfg.pkIdName});
        return ApiResult.result(flag);
    }

    /**
     * 获取$!{table.comment}详情
     *
     * @param $!{cfg.pkIdName}
     * @return
     * @throws Exception
     */
    @PostMapping("/$!{cfg.infoRequestMapping}/{$!{cfg.pkIdName}}")
    @Operation(summary = "$!{table.comment}详情")
    #if($!{cfg.permission})
    @Permission("$!{cfg.colonTableName}:info")
    #end
    public ApiResult<$!{cfg.voName}> get$!{entity}(@PathVariable Long $!{cfg.pkIdName}) throws Exception {
        $!{cfg.voName} $!{cfg.voObjectName} = $!{cfg.serviceObjectName}.get$!{entity}ById($!{cfg.pkIdName});
        return ApiResult.success($!{cfg.voObjectName});
    }

    /**
     * $!{table.comment}分页列表
     *
     * @param query
     * @return
     * @throws Exception
     */
    @PostMapping("/$!{cfg.pageRequestMapping}")
    @Operation(summary = "$!{table.comment}分页列表")
    #if($!{cfg.permission})
    @Permission("$!{cfg.colonTableName}:page")
    #end
    public ApiResult<$!{cfg.voName}> get$!{entity}Page(@Valid @RequestBody $!{cfg.queryName} query) throws Exception {
        Paging<$!{cfg.voName}> paging = $!{cfg.serviceObjectName}.get$!{entity}Page(query);
        return ApiResult.success(paging);
    }

#end
}
