package $!{package.Mapper};

#if($!{cfg.generatorType} == 'BASIC')
import $!{superMapperClassPackage};
import $!{package.Entity}.$!{cfg.uniqueEntityName};
import org.apache.ibatis.annotations.Mapper;
#elseif($!{cfg.generatorType} == 'FULL')
import $!{superMapperClassPackage};
import $!{package.Entity}.$!{cfg.uniqueEntityName};
import $!{cfg.queryPath};
import $!{cfg.voPath};
#if($!{cfg.generatorApi})
import $!{cfg.appQueryPath};
import $!{cfg.appVoPath};
#end
import org.apache.ibatis.annotations.Mapper;

import java.util.List;
#end

/**
 * $!{table.comment} Mapper 接口
 *
 * @author $!{author}
 * @since $!{date}
 */
@Mapper
public interface $!{table.mapperName} extends $!{superMapperClass}<$!{cfg.uniqueEntityName}> {

#if($!{cfg.generatorType} == 'FULL')
    /**
     * $!{table.comment}详情
     *
     * @param $!{cfg.pkIdName}
     * @return
     */
    $!{cfg.voName} get$!{entity}ById(Long $!{cfg.pkIdName});

    /**
     * $!{table.comment}分页列表
     *
     * @param query
     * @return
     */
    List<$!{cfg.voName}> get$!{entity}Page($!{cfg.queryName} query);

#if($!{cfg.generatorApi})
    /**
     * $!{cfg.appTableComment}详情
     *
     * @param $!{cfg.pkIdName}
     * @return
     */
    $!{cfg.appVoName} get$!{cfg.appEntityName}ById(Long $!{cfg.pkIdName});

    /**
     * $!{cfg.appTableComment}分页列表
     *
     * @param query
     * @return
     */
    List<$!{cfg.appVoName}> get$!{cfg.appEntityName}Page($!{cfg.appQueryName} query);

#end
#end
}
