package io.geekidea.springbootplus.${package.ModuleName}.web.param;

import io.swagger.annotations.ApiModel;
import lombok.Data;
import lombok.EqualsAndHashCode;

#if(${cfg.pageListOrder})
import ${cfg.orderQueryParamPath};
#else
import ${cfg.queryParamCommonPath};
#end

/**
 * <p>
 * $!{table.comment} 查询参数对象
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel(value="${entity}QueryParam对象", description="$!{table.comment}查询参数")
#if(${cfg.pageListOrder})
public class ${entity}QueryParam extends OrderQueryParam {
#else
public class ${entity}QueryParam extends QueryParam {
#end
    private static final long serialVersionUID = 1L;
}
