package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import ${cfg.queryParamPath};
import ${cfg.queryVoPath};
import ${cfg.paging};

import java.io.Serializable;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
#if(${cfg.generatorStrategy})

    /**
     * 根据ID获取查询对象
     * @param id
     * @return
     */
    ${entity}QueryVo get${entity}ById(Serializable id) throws Exception;

    /**
     * 获取分页对象
     * @param ${cfg.entityObjectName}QueryParam
     * @return
     */
    Paging<${entity}QueryVo> get${entity}PageList(${entity}QueryParam ${cfg.entityObjectName}QueryParam) throws Exception;
#end

}
#end
