<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.hello.mapper.HelloWorldMapper">

    <select id="getHelloWorldById" resultType="io.geekidea.boot.hello.vo.HelloWorldInfoVo">
        select *
        from hello_world
        where id = #{id}
    </select>

    <select id="getHelloWorldList" parameterType="io.geekidea.boot.hello.query.HelloWorldQuery"
            resultType="io.geekidea.boot.hello.vo.HelloWorldVo">
        select *
        from hello_world
    </select>

</mapper>
